@media (max-width: 768px) {
    .jumbotron img {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .jumbotron .logo {
      position: absolute;
      transform: translateX(-15%); 
    }
  }
  