@media (max-width: 768px) {
    .jumbotron img {
      width: 100%;
      height: auto;
    }
  
    .jumbotron .logo {
      position: absolute;
      top: 90%;
      left: 90%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: auto;
    }
  }
  